:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.my-table {
  border: 1px solid rgba(127, 146, 135, 0.2);
  border-radius: 6px 6px 15px 15px;
  border-radius: 5px;
  overflow-x: auto;

  .react-bs-table-no-data {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7E7E7E;

    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 543px) {
      font-size: 10px;
    }

    @media screen and (max-width: 280px) {
      font-size: 8px;
    }
  }

  table {
    table-layout: auto;
    margin-bottom: 0;
  }

  .table-heading {
    background-color: #f6f6f6;

    th {
      color: #20553e;
      font-size: 0.75rem;
      font-weight: 600;
      border-bottom: 0;
      min-height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;

      @media screen and (max-width: 543px) {
        font-size: 10px;
      }

      @media screen and (max-width: 280px) {
        font-size: 8px;
      }
    }

    th:after {
      height: 60%;
      width: 1px;
      position: absolute;
      top: 20%;
      bottom: 0;
      right: 0;
      content: '';
      background-color: rgba(127, 146, 135, 0.2);
    }

    th:last-child:after {
      background-color: transparent;
    }
  }

  .table-row {
    line-height: 1.5;
    color: #424942 !important;
    font-size: 0.75rem;
    font-weight: 600;

    @media screen and (max-width: 543px) {
      font-size: 10px;
    }

    @media screen and (max-width: 280px) {
      font-size: 8px;
    }

    td {
      border-bottom: 0;
      padding-top: 16px;
      padding-bottom: 16px;
      vertical-align: middle;
      border-bottom: 1px solid rgba(127, 146, 135, 0.2);
    }

    p {
      margin-bottom: 0;
    }
  }

  .table-row:not(:last-child) {
    border-bottom: 1px solid rgba(127, 146, 135, 0.2);
  }
}
